doctype html
html
  head
    title= title
    link(href='css/style.css', rel='stylesheet')
  body
    block content
  script(type='text/javascript', src="js/vendor/angular/angular.js")
  script(type='text/javascript', src="js/app/app.js")
  script(type='text/javascript', src="js/app/twitterListCtrl.js")