doctype html
html
  head
    title= title
  body
    block content
  script(type='text/javascript', src="js/vendor/angular/angular.js")
  script(type='text/javascript', src="js/app/audioPlayer.js")
  script(type='text/javascript', src="js/app/app.js")
  script(type='text/javascript', src="js/app/twitterListCtrl.js")